rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    function isUserInRole(userId, role) {
      return exists(/databases/$(database)/documents/users/$(userId)) &&
             getUserData(userId).role == role;
    }

    function isUserAdmin(userId) {
      return isUserInRole(userId, 'admin');
    }

    function isUserCoach(userId) {
      return isUserInRole(userId, 'entrenador');
    }

    match /users/{userId} {
      // Admins can read/write any user profile.
      // Users can read and write their own profile. The client-side code
      // prevents them from changing their own role.
      allow read, write: if request.auth != null && (request.auth.uid == userId || isUserAdmin(request.auth.uid));
    }

    match /players/{playerId} {
      // Admins can read any player.
      // Coaches can only read players from their own school.
      allow read: if request.auth != null &&
                  (isUserAdmin(request.auth.uid) ||
                   (isUserCoach(request.auth.uid) && resource.data.escuelaId == getUserData(request.auth.uid).escuelaId));
                   
      // Admins can create players for any school.
      // Coaches can only create players for their own school.
      allow create: if request.auth != null &&
                    (isUserAdmin(request.auth.uid) ||
                     (isUserCoach(request.auth.uid) && request.resource.data.escuelaId == getUserData(request.auth.uid).escuelaId));

      // Admins can update any player.
      // Coaches can only update players from their own school.
      allow update: if request.auth != null &&
                    (isUserAdmin(request.auth.uid) ||
                     (isUserCoach(request.auth.uid) && request.resource.data.escuelaId == getUserData(request.auth.uid).escuelaId));

      // Only admins can delete players.
      allow delete: if request.auth != null && isUserAdmin(request.auth.uid);
    }
  }
}
