@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 352 80% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 352 80% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 90%;
    --ring: 352 80% 45%;
    --radius: 0.5rem;
    --chart-1: 352 80% 45%;
    --chart-2: 0 0% 50%;
    --chart-3: 352 80% 65%;
    --chart-4: 0 0% 70%;
    --chart-5: 352 80% 85%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 352 75% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 12%;
    --muted-foreground: 0 0% 63%;
    --accent: 352 75% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 352 75% 50%;
    --chart-1: 352 75% 50%;
    --chart-2: 0 0% 50%;
    --chart-3: 352 75% 30%;
    --chart-4: 0 0% 30%;
    --chart-5: 352 75% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
    max-width: 100vw;
  }
}
